.tooltip {
    /*background: #eee;*/
    /*box-shadow: 0 0 5px #999999;*/
    /*color: #333;*/
    /*display: none;*/
    /*font-size: 12px;*/
    /*position: absolute;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    /*width: auto;*/
    /*z-index: 10;*/

    padding: 0 10px 0 10px;
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    background: #eee;
    box-shadow: 0 0 5px #999999;
}

