.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

#x-axis path,
#x-axis line {
    stroke-width: 0;
}

.ttooltip {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    background: #eee;
    box-shadow: 0 0 5px #999999;
    padding: 0 10px 0 10px;

}